{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{!-- <style>
      style="display: block;
      white-space: pre"
      contenteditable="">
      * {
        font-size: 18px;
        transition: .3s all;
        background: red;
        color: white
      } изменение стиля в HTML!!!--}} 
    {{> nav}}
<br>
<hr>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}

    {{>footer}}
   
  </body>

</html>